@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700|Karla::100,200,300,400,500,600,700');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

.h2{
    font-family: 'impact';
    color:rgb(216, 216, 216);
}

/*------------------------------header */

.navbar li a {
    font-family: 'impact','anton';
    color:#696666;
    font-size: 20px;
    font-weight: 200,;
}

/*------------------------------imagess */

.hitmenlogolittle{
    background: url("images/Logo[13290].png")no-repeat;
    height: 125px;
    background-position: center;
    background-size: 100px 100px;
    background-color:white;
    padding: 5px 5px 5px
    
}



.home{
    height: 600px;
    width:100%;
    background: url("images/home.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
    
}

.gigs{
    height: 600px;
    width:100%;
    background: url("images/gigs.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
    
}

.aboutus{
    height: 600px;
    width:100%;
    background: url("images/aboutus.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.testimonials{
    height: 600px;
    width:100%;
    background: url("images/testimonials.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.video{
    height: 600px;
    width:100%;
    background: url("images/media.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.contactus{
    height: 600px;
    width:100%;
    background: url("images/contactus.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;

}

/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks li {   
    display: inline;
}

.social-networks i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    ;
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    padding: 1px;
}

/*------------------------------home */

.btn{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 250px;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    
}

.showreel{
    position: absolute;
    left: 10%;
    top: 450px;
}

.next-gig h2{
    top: 405px;
    position: absolute;
    Right: 10%;
}
.next-gig{
    position: absolute;
    Right: 10%;
    top: 405px;
    height: 448px;
    width:410px;
    background: url("images/next-gig.jpg")no-repeat; 
    background-position: center;
    background-size: 100%;
    
}


/*------------------------------gigs */

.gigtable{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 200px;
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    
    
}

.table thead  {
    font-family: 'Karla', sans-serif;
    color:rgb(216, 216, 216);
    
}

.table tbody  {
    color:rgb(216, 216, 216);
    font-family:'karla', sans-serif ;
}

/*------------------------------video */

.videos-youtube {
    position: relative;
    left:1% ;
    right:1% ;
    Top: 400 px;
    height: 600px;
    overflow: scroll;    
}

/*------------------------------testimonials */

.reviews{
    position: absolute;
    right: 5%;
    left: 5%;
    top: 200px;
    height: 500px;
    overflow: scroll;    
    font-family: 'karla';
    color:darkslategray;
    background-color: black;
    opacity: 0.6;

}

/*------------------------------ picutres for testimonials */

.wedding{
    height: 75px;
    width:50%;
    background: url("images/images-reviews/bridekiss.jpg")no-repeat; 
    background-position: center;
    background-size: 100%;
}
.pub{
    height: 75px;
    width:50%;
    background: url("images/images-reviews/pubgig.jpg")no-repeat; 
    background-position: center;
    background-size: 100%;
}

.pub2{
    height: 75px;
    width:50%;
    background: url("images/images-reviews/pubpartridge.jpg")no-repeat; 
    background-position: center;
    background-size: 100%;
}

/*------------------------------aboutus */
.aboutustext {
    position: absolute;
    right :5%;
    left: 45%;
    top: 120px;
    font-family: 'karla', sans-serif;
    color:rgb(216, 216, 216);
       
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
  
}


/*------------------------------contactus */


.contactusposition h2 {
  color: rgb(216, 216, 216);
  margin-bottom: 20px;
  font-family: 'karla', sans-serif;
  padding: 5px 5px 5px 5px;
}

.contactusposition{
    position: absolute;
    top: 400px;
    left:%;
    right:%;
    color: rgba(216, 216, 216, 0.5);
    background-color: rgba(0, 0, 0, 0.7)
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: darkred;
}

/*------------------------------media queries */

