@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700|Karla::100,200,300,400,500,600,700');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

.h2{
    font-family: 'impact';
    color:rgb(216, 216, 216);
}

/*------------------------------header */

.header{
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar li a {
    font-family: 'impact','anton';
    color:#696666;
    font-size: 30px;
    font-weight: 200,;
}

/*------------------------------imagess */


.home{
    height: 600px;
    width:100%;
    background: url("images/home.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
    
}

.gigs{
   
    opacity: 0.8;
    
}

.aboutus{
    height: 600px;
    width:100%;
    background: url("images/aboutus.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;
}

.contactus{
    height: 600px;
    width:100%;
    background: url("images/contactus.jpg")no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: 0.8;

}

/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks li {   
    display: inline;
}

.social-networks i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    ;
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    padding: 1px;
}

.makerlink{
    color:black;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;

}

/*------------------------------Index */

.mybox{
    height: 50%;
    width: 100%;
    padding: 1% 1% 1% 1%;
}

.button-box{
    text-align: center;
    height: 40%;
}

.btn{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    
}

.next-gig, h2, .gigtext{
    font-family: 'karla', 'sans-serif';
    color:rgb(216, 216, 216); 
    text-align: center;
    font-size:24px;
}

.giglink{
    font-family: 'karla', 'sans-serif';
    color:rgb(216, 216, 216); 
    text-align: center;
    font-size:24px;

}

.show-reel{
    opacity: 0.8;   
}

.next-gig{
    
    background-position: center;
    height:100%;
    background-size: 100%;
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    
}


/*------------------------------gigs */

.gigtable{  
    background-color: rgba(255, 255, 255, 0.3);
        
}

.gigh2{
    font-family:Impact, sans-serif ;
    color:black;
    text-align: center;
}

.gigtext{
    font-family: 'Karla', sans-serif;
    color:black;
    text-align: center;
}

.gigbox{
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 251, 251, 0.3);
}

/*------------------------------video */
.videotitle{
    font-family: Impact, sans-serif ;
    color: black;
}

/*------------------------------testimonials */

.Testimonials{
    font-family: Impact, sans-serif ;
    color: black;
}

.ttext{
    font-size: 18px;
    font-family: 'karla';
}

.testpadding{
    padding:10px 10px 10px 10px;
}




/*------------------------------aboutus */
.aboutustext {
    position: absolute;
    right :5%;
    left: 45%;
    top: 120px;
    font-family: 'karla', sans-serif;
    color:rgb(216, 216, 216);  
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
  
}


/*------------------------------contactus */


.contactusposition, h2 {
  color: rgb(216, 216, 216);
  margin-bottom: 20px;
  font-family: 'karla', sans-serif;
  padding: 5px 5px 5px 5px;
}

.contactusposition{
 
    color: rgba(216, 216, 216, 0.5);
    background-color: rgba(0, 0, 0, 0.7)
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: darkred;
}

/*------------------------------media queries */

