@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700|Karla:100,200,300,400,500,600,700');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  height: 100%;
}

h1{
    font-family:Impact, 'anton',sans-serif ;
    color:black;
    text-align: center;
}

/*------------------------------header */

header{
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar, .nav-link {
    font-family: 'impact','anton';
    color:#696666;
    font-size: 24px;    
}

/*------------------------------imagess */


.home{    
    height: 60vh;
    width: 100%;
    position: relative;
    background: url("images/home.jpg")no-repeat top ;
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -O-background-size:cover;
    background-size: cover;
      
}

.aboutus{
    height: 60vh;
    width: 100%;
    position: relative;
    background: url("images/aboutus.jpg")no-repeat center center ;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -O-background-size:cover;
    background-size:cover;    
}

.contactusbackground{    
    height: 60vh;
    width: 100%;
    position: relative;
    background: url("images/contactus.jpg")no-repeat top;
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -O-background-size:cover;
    background-size:cover;
  
    
}

/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks, li {   
    display: inline;
}

.social-networks, i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;
    padding: 1px;
}

.makerlink{
    color:black;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;

}

/*------------------------------Index */

.btn{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    position: relative;
    
}

.btnpadding{
    padding:30px 20px 20vh 20px;

}
.next-gigh2{ 
    font-family: 'impact', 'anton';
    color:rgb(216, 216, 216); 
    
    text-align: center;
    font-size:24px;
}

.next-gig {
    font-family: 'karla', 'sans-serif';
    color:rgb(216, 216, 216); 
    text-align: center;
    font-size:2vw;
}

.giglink{
    font-family: 'karla', 'sans-serif';
    color:slategray; 
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size:2vw;
}

.hometextboxbg{
    font-family: 'karla', sans-serif;
    color:rgb(216, 216, 216);  
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.rowheightindex{
    height: 20vh;
}


/*------------------------------gigs */

.gigtext{
    font-family: 'Karla', sans-serif;
    color:black;   
    text-align: center;
    font-size: 18px;
    padding: 3px 3px 3px 3px;
}

.gigbox{
    border-top: 2px solid black;
}

.gigboxlast{
    border-bottom: 2px solid black;
}
/*------------------------------video */


.video-row-padding{
    padding: 10px 10px 10px 10px;
} 

/*------------------------------testimonials */

.Testimonials{
    font-family: Impact, sans-serif ;
    color: black;
}

.ttext, important{
    font-size: 18px;
    font-family: 'karla','sans-serif' ;
}

.testpadding{
    padding:10px 10px 10px 10px;
}




/*------------------------------aboutus */

.aboutustext {  
    font-family: 'karla', sans-serif;
    color:rgb(216, 216, 216);  
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.6); 
}

.aboutsuspadding{
    padding: 40px 30px 40px 30px;
    
}

/*------------------------------contactus */

.form-control{
    opacity: .8;
    font-family: 'karla', sans-serif;
    color: black;
}

.contactusposition{
    color: black;
    margin-bottom: 20px;
    padding: 120px 10px 100px 5px;
}


.contactusposition{    
    color: rgba(216, 216, 216, 0.5);
    background-color: rgba(0, 0, 0, 0)
}



button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: darkred;
}

/*------------------------------media queries*/


/*------------------------------phones*/
@media (min-width: 50px) and (max-width: 767px){


.form-control{
    opacity: .8;
    font-family: 'karla', sans-serif;
    color: black;
    margin-left: 5px;
    margin-right: 5px;

}

.contactusposition{
    padding: 120px 25px 100px 25px;
}



.navbar-brand  {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }


.homesmall{    
    height: 30vh;
    width: auto;
    position: relative;
    background: url("images/home.jpg")no-repeat;
    background-position: center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -O-background-size:cover;
    background-size: cover;      
}

.homeheight{
    height: 65vh;

}


.hometextbox {  
    font-family: 'karla', sans-serif;
    color:rgb(216, 216, 216);  
    background-color: rgba(0, 0, 0, 1.0); 
}

.next-gig {
    font-family: 'karla', 'sans-serif';
    color:rgb(216, 216, 216); 
    text-align: center;
    font-size:12px;
}

.btnpadding{
    padding:2vh 5px 13vh 5px;

}

}