@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700|Karla:100,200,300,400,500,600,700');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

.h2{
    font-family: 'impact', 'anton';
    color:rgb(216, 216, 216);
}

/*------------------------------header */

.header{
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar, .nav-link {
    font-family: 'impact','anton';
    color:#696666;
    font-size: 24px;    
}

/*------------------------------imagess */


.home{
     width:100%;
    height: auto;
    background: url("images/home.jpg")no-repeat top ;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    
}

.contactusbackground{
    width:100%;
    height: auto;
    background: url("images/contactus.jpg")no-repeat top;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.aboutus{
    height: auto;
    width:100%;
    background: url("images/aboutus.jpg")no-repeat top  ;
    background-size:;
    background-position: center;
    opacity: 0.8;
}




/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks, li {   
    display: inline;
}

.social-networks, i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    ;
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;
    padding: 1px;
}

.makerlink{
    color:black;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16;

}

/*------------------------------Index */

.btn{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    position: relative;
    
}

.btnpadding{
    padding:20px 20px 20px 20px;

}

.next-gig, h2, .gigtext{
    font-family: 'karla', 'sans-serif';
    color:rgb(216, 216, 216); 
    text-align: center;
    font-size:24px;
}

.giglink{
    font-family: 'karla', 'sans-serif';
    color:rgb(216, 216, 216); 
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);;
    font-size:24px;

}


.next-gig{    
    background-position: center;
    height:100%;
    background-size: 100%;
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    
}

.height-triangle {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    width:560; 
    height:315;
    
}

/*------------------------------gigs */

.gigtable{  
    background-color: rgba(255, 255, 255, 0.3);
        
}

.gigh2{
    font-family:Impact, sans-serif ;
    color:black;
    text-align: center;
}

.gigtext{
    font-family: 'Karla', sans-serif;
    color:black;
    text-align: center;
}

.gigbox{
    border-style: solid;
    border-width: 2px;
    background-color: rgba(255, 251, 251, 0.3);
}

/*------------------------------video */
.videotitle{
    font-family: Impact, sans-serif ;
    color: black;
}

/*------------------------------testimonials */

.Testimonials{
    font-family: Impact, sans-serif ;
    color: black;
}

.ttext, important{
    font-size: 18px;
    font-family: 'karla','sans-serif' ;
}

.testpadding{
    padding:10px 10px 10px 10px;
}




/*------------------------------aboutus */
.aboutustext {
  
    font-family: 'karla', sans-serif;
    color:rgb(216, 216, 216);  
    padding:10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
  
}


/*------------------------------contactus */

.form-control{
    opacity: .8;
    font-family: 'karla', sans-serif;
    color: black;
}

.contactusposition, h2 {
  color: black;
  margin-bottom: 20px;
  font-family: 'impact', sans-serif;
  padding: 10px 10px 5px 5px;
}

.space{
   opacity: .0; 
   height:15vh;
}
.contactusposition{
    height: 40vh;
    color: rgba(216, 216, 216, 0.5);
    background-color: rgba(0, 0, 0, 0)
}

.form-control{
     padding: 10px 10px 5px 5px;
}



button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: darkred;
}

/*------------------------------media queries*/

@media (min-width: 50px) and (max-width: 600px){


.space{
   opacity: .0; 
   height:10vh;
}
.contactusposition{
    height: 55vh;
    color: rgba(216, 216, 216, 0.5);
    background-color: rgba(0, 0, 0, 0)

}

.mobile-background{
    background-image:url("images/white-triangle-png-15.png")no-repeat top; 
 

}


.navbar-brand
  {
     position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}


